/* Colors */
:root {
    --white: #FBFAF5;
    --white-hover: #e7e7e7;
    --blue: #3DA7E3;
    --blue-shadow: #0119334a;
    --darkBlue: #224b91;
    --jmi-pink: #c142b2;
    --pink-hover: #8b2e81;
    --dark: #181A18;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--blue) !important;
    font-family: 'Oswald', sans-serif !important;
    overflow-x: hidden;
    overflow-y: scroll;
    color: var(--white) !important;
}

/* Navbar */
nav {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: fixed;
    width: 100vw;
    height: 60px;
    transition: .3s;
    z-index: 5;
    background: var(--blue);
    opacity: .85;
    backdrop-filter: blur(10px);
}

nav a {
    color: var(--white) !important;
    transition: .3s;
}

nav a:hover, nav a:focus {
    text-decoration: none !important;
    color: var(--jmi-pink) !important;
}

.introLink {
    font-size: 1.25rem;
}

.introLink:hover, .introLink:focus {
    color: var(--jmi-pink) !important;
}

.linkContainer a {
    margin-left: 10px;
    font-size: 1.15rem;
    transition: .3s;
}

.linkContainer .active, .linContainer a:hover, .linkContainer a:focus {
    color: var(--jmi-pink) !important;
    text-decoration: none;
}

/* Footer */
footer {
    width: 500px;
    background: var(--dark);
    border-radius: 5px;
    padding: 1.25rem;
    color: var(--white);
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0%;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: .5s;
}

.show {
    opacity: 1;
    bottom: 3%;
}

footer h1 {
    font-size: 1.25rem;
    margin-bottom: 0rem;
}

.buttonGroup {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    font-size: 1.15rem;
    /* border: 1px solid var(--white); */
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    color: var(--white);
}

.backgroundBorder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid var(--white);
    transition: .3s;
}

footer a i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: .3s;
}

footer a:hover i {
    color: var(--jmi-pink);
}

footer a:hover .backgroundBorder {
    border: 3px solid var(--jmi-pink);
}

@media screen and (max-width: 500px) {
    .bumper {
        margin-bottom: 1rem;
    }

    footer {
        width: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buttonGroup {
        width: 275px;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
}